@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 0.8em;
  color: #f4eee3;
}
.ship-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1%;
  margin-top: 2%;
  width: 80vw;
}

.frame-selection {
  font-size: 1.5em;
  margin-top: 15%;
}

.simulation-container {
  width: 80vw;
  height: 24vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-left: 20%;
}
.deposit-targets, .refining-targets {
  white-space: pre-wrap;
  columns: 2;
}


.mounts,
.modules,
.engine,
.reactor,
.frame {
  padding: 1%;
  padding-bottom: 2%;
  outline: 1px dotted #cac3b6;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  min-height: 30vh;
  max-height: 30vh;
  text-align: center;
  width: 15.5vw;
  padding-top: 5%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.default-ships {
  margin-top: 2%;
  text-align: center;
}

select {
  appearance: none;
  outline: dotted #f4eee3 1px;
  outline-offset: 2px;
  border-radius: 5px;
  border: 0;
  box-shadow: none;
  width: 80%;
  margin: 2%;
  flex: 1;
  color: black;
  background-color: rgba(247, 244, 239, 0.75);
  background-image: none;
  cursor: pointer;
  font-family: "Roboto Condensed", monospace;
  text-transform: uppercase;
}
#frame-select {
  margin-top: 10%;
  font-size: 1.5rem;
  padding: 2%;
  width: 30vw;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}
#frame-select:hover {
  background-color: rgba(51, 48, 48, 0.7);
  color: #f4eee3;
  cursor: crosshair;
}

button {
  font-family: "Share Tech Mono";
  background-color: #282828;
  color: #f4eee3;
  border: none;
  outline: 1px dotted #4f4f4f;
  outline-offset: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin: 2%;
  transition: outline-offset 0.3s ease;
}

button:hover {
  background-color: #4a4a4a;
  outline: 1.5px dotted #9c9c9c;
  outline-offset: 3px;
  cursor: crosshair;
}

.control-panel {
  text-align: center;
}

.power-and-crew {
  font-size: 1.15em;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 2%;
  outline: dotted #f4eee3 1px;
outline-offset: 2px;
  width: 12vw;
}

.effects {
  margin-left: 5%;
}

.component-title {
  font-size: 2em;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 5%;
  color: #e3ded6;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: -1;
  transform: translate(0, 32px);
}

#frame-image {
  position: absolute;
  width: 40%;
  top: -30px;
  left: 10px;
  opacity: 0.5;
  z-index: -99;
  animation: blur-in 5s ease-in-out, bobble 4s ease-in-out infinite, intermittent-alpha 15s ease-in-out infinite;
}

.frame-details,
.reactor-details,
.engine-details {
  text-align: left;
  padding-left: 5%;
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  25% {
    opacity: 0.4;
    filter: blur(10px);
  }
  100% {
    opacity: 0.4;
    filter: blur(0px);
  }
}
@keyframes bobble {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes intermittent-alpha {
  0% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.4;
  }
  80.4% {
    opacity: 0.3;
  }
  80.9% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.4;
  }
  91% {
    opacity: 0.3;
  }
  91.6% {
    opacity: 0.4;
  }
  98% {
    opacity: 0.4;
  }
  98.5% {
    opacity: 0.55;
  }
  99% {
    opacity: 0.4;
  }
}

