body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono";
    font-size: .8em;
    color: white;

}
.ship-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1%;

    width: 75vw;
}

.ship-container div {
    border: dotted 1px #4c33f1;
    border-radius: 5px;
    width: 15vw;
}

/* .mounts, .modules, .engine, .reactor, .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
} */


select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #222;
    background-image: none;
    cursor: pointer;
    font-family: "Share Tech Mono";
  }

