body {
    background-color: #000;
    margin: 0;
    padding: 0;
}



.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech Mono", monospace;
    font-size: .8em;
    color: white;

}
.ship-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1%;

    width: 75vw;
}

.ship-container div {
    width: 15vw;
}

.frame-selection {
    font-size: 1.5em;
}

.mounts, .modules, .engine, .reactor, .frame {
border: 1px dotted rgb(66, 26, 246);
}


select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #222;
    background-image: none;
    cursor: pointer;
    font-family: "Share Tech Mono";
  }

